<configuration>
    <appender name="FLUENTD" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>fluentd.application.svc.cluster.local:24224</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="info">
        <appender-ref ref="FLUENTD"/>
    </root>
</configuration>
