<configuration>
    <appender name="FLUENTD" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>fluentd:24224</destination> <!-- Ensure Fluentd's hostname is correct -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="info">
        <appender-ref ref="FLUENTD"/>
    </root>
</configuration>
